* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 'Open Sans', sans-serif;
	background: #000 url('img/fondo.jpg');
	background-size: cover;/*Para que abarque toda la página*/
	background-attachment: fixed;
}

.contenedor { /*Contenedor PADRE de todo*/
	margin: auto; /*centra todo tu diseño en la página*/
	width: 90%;
	max-width: 1000px;
	display: flex; /*Mandamos llamar a flexbox*/
	flex-direction:row;/*El aside se pone al lado del section*/
	flex-wrap:wrap;/*Hace que respete el header del 100%
	y que el contenido que no quepa lo ponga debajo*/
}

header {
	width: 100%;
	padding: 50px 0;
	display: flex;/*Acticando flexbox*/
	justify-content:space-between;/*Separa el icono de los links*/
	align-items:center; /*centrar verticalmente*/
}

header .menu a {
	color: #fff;
	text-decoration: none;
	margin-right: 40px;
	font-size: 18px;
}

header .menu a:hover {
	text-decoration: underline;
}

.main {
	background: #fff;
	padding: 20px;
	width: 70%; 
}

.main article .thumb {
	margin-bottom: 20px;
}

.main article .thumb img {
	width: 100%;
	vertical-align: top; /*Hace adaptables las imagenes*/
}

.main article h2 {
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 32px;
}

.main article p {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 27px;
}

aside {
	width: 30%;
	background: #537dca;
	padding: 20px;
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-between;
}

aside .ad { /*aside es PADRE y .ad es HIJO*/
	font-size: 30px;
	text-align: center;
	color: #fff;
	padding: 50px 0;
	background: #4264a2;
	/*margin-bottom: 20px;*/
	
}

footer {
	margin: 20px 0;
	background: rgba(255,255,255,.2);/*color blanco*/
	padding: 20px;
	width: 100%;
	color: #fff;
	display: flex;
	flex-direction:row;
	flex-wrap:no-wrap;/*Hace que ponga los links y el texto a la misma altura*/
	justify-content:space-between;
}

footer .redes-sociales a {
	color: #fff;
	text-decoration: underline;
	margin-left: 20px; /*El margen se lo pusimos a la izquierda por que después lo pasaremos a la derecha con flexbox*/
}

footer .redes-sociales a:hover {
	text-decoration: none;
}

/*			RESPONSIVE DESIGN			*/

@media screen and (max-width: 800px){
	.main {
		width: 100%;
	}

	aside {
		width: 100%;
		flex-direction:row;
	}

	aside .ad {
		width: 40%;
	}
}

	@media screen and (max-width: 600px){
		header {
			flex-direction:column;/*Para que se pase uno debajo del otro*/
			padding-bottom: 20px;
		}
		
		header .menu {
			width: 100%;
			background: rgba(255,255,255,.2);
			text-align: center;
			padding: 20px;
		}	

		header .menu a {
			margin: 0 20px; /*20px hacia los lados entre cada link*/
		}
		
		header .logo {
			margin-bottom: 20px; /*20px de margen hacia abajo entre los links*/
		}

		footer { /*el texto abarque el 100% y los enlaces también*/
			flex-direction:column; 
			text-align: center;  
		}

		footer .autor {
			order:2;
		}

		footer .redes-sociales {
			order:1;
			margin-bottom: 20px;
		}
	}	

@media screen and (max-width: 400px) {
	aside {
		display: none;
	}
}