* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 'Open Sans', sans-serif;
	background: #000 url('img/fondo.jpg');
	background-size: cover;/*Para que abarque toda la página*/
	background-attachment: fixed;
}

.contenedor { /*Contenedor PADRE de todo*/
	/*margin: auto;*/
	margin: 20px;
	width: 90%;
	max-width: 1000px;
	display: flex; /*Mandamos llamar a flexbox*/
	flex-direction:row;/*El aside se pone al lado del section*/
	flex-wrap:wrap;/*Hace que respete el header del 100%
	y que el contenido que no quepa lo ponga debajo*/
}

header {
	width: 100%;
	padding: 50px 0;
	display: flex;/*Acticando flexbox*/
	justify-content:space-between;/*Separa el icono de los links*/
	align-items:center; /*centrar verticalmente*/
}

header .menu a {
	color: #fff;
	text-decoration: none;
	margin-right: 40px;
	font-size: 18px;
}

header .menu a:hover {
	text-decoration: underline;
}

.main {
	background: #fff;
	padding: 20px;
	width: 70%; 
}

.main article .thumb {
	margin-bottom: 20px;
}

.main article .thumb img {
	width: 100%;
	vertical-align: top; /*Hace adaptables las imagenes*/
}

.main article h2 {
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 32px;
}

.main article p {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 27px;
}

aside {
	width: 30%;
	background: #537dca;
	padding: 20px;
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-between;
}

aside .ad { /*aside es PADRE y .ad es HIJO*/
	font-size: 30px;
	text-align: center;
	color: #fff;
	padding: 50px 0;
	background: #4264a2;
	/*margin-bottom: 20px;*/
	
}