* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 'Open Sans', sans-serif;
	background: #000 url('img/fondo.jpg');
	background-size: cover;/*Para que abarque toda la página*/
	background-attachment: fixed;
}

.contenedor {
	/*margin: auto;*/
	margin: 20px;
	width: 90%;
	max-width: 1000px;
}

header {
	width: 100%;
	padding: 50px 0;
	display: flex;/*Acticando flexbox*/
	justify-content:space-between;/*Separa el icono de los links*/
	align-items:center; /*centrar verticalmente*/
}

header .menu a {
	color: #fff;
	text-decoration: none;
	margin-right: 40px;
	font-size: 18px;
}

header .menu a:hover {
	text-decoration: underline;
}